<!DOCTYPE html>
<html>
<head>
	<title>Edit Category {{ category.name }}</title>
</head>
<body>
	<form action="{{ url_for('edit_category',category_id = category.id)}}"  method="post">
		<div>
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" name="name" value="{{category.name}}">
					<div style="margin-top: 1rem">
						<button type="submit">
								Edit
						</button>
						<button>
							<span></span>
							<a href = "{{ url_for('show_home') }}">
								Cancel
							</a>
						</button>
	</form>
</body>
</html>