<!DOCTYPE html>
<html>
<head>
	<title>Item Catalog</title>
</head>
<body>
	<h1>Catalog App</h1>
	<p>Sign in below to add your items!</p>
	<div id="signInButton">
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="567188669051-phqhet4c3pvbrcii1hd6vshjioid41sk.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
</html>