{% include 'main.html' %}
{% include 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Item Catalog</title>
</head>
<body>
<div class="container" style="margin-top:20px">
    <div class="row">
    <aside class="col-sm">
        <h2>Latest Items</h2>
        {% for item in latest_items %}
        {% for category in categories %}
        {% if category.id == item.category_id %}
        <p>
        <span>{{item.name}} </span><span style="color:gray"><i>({{ category.name }})</i></span></p>
        {%endif%}
        {%endfor%}
        {%endfor%}
    </aside>
    <main class="col-sm">
        <h2>Categories</h2>
        <ol>
        {% for category in categories %}
            <li>
                <a href="{{ url_for('show_category', category_id = category.id) }}">{{category.name}}</a>
            </li>
        {%endfor%}
        </ol>
        <a href="{{ url_for('create_category') }}" class="btn btn-primary">Add a New Category</a>
    </main>
 </div>
</div>
</body>
</html>