<ul class="nav navbar bg-dark">
	<li class="navbar-brand">
		<a style="color:white; text-decoration:none" href="{{ url_for('show_home') }}">Catalog App</a>
	</li>
	{% if 'username' not in session %}
	<li class="nav-item">
		<a style="color:white; text-decoration:none" href="{{ url_for('show_login') }}">Login</a>
	</li>
	{% else %}
	{% if session.user_id %}
	<li class="nav-item">
		<a style="color:white; text-decoration:none" href="{{ url_for('disconnect') }}">Log Out</a>
	</li>
	{% endif %}
	{% endif %}
</ul>