{% include 'main.html' %}
{% include 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
	<title>Add a New Item</title>
</head>
<body>
	<div class="container">
<h1 class="h1 text-center" style="margin-top:15px">Add a new item to {{ category.name }}</h1>
<form action="{{url_for('create_item', category_id = category.id)}}" method='post'>
	<label for="name"><b>Name: </b></label>
		<input type='text' name='name' placeholder='New item name' class="form-control" required>
		<br>
		<label for="price"><b>Price (Include currency e.g. $8):</b></label>
		<input type='text' name='price' placeholder='Price in USD' class="form-control" required>
		<br>
		<label for="description"><b>Description: </b></label>
		<textarea type='text' name='description' placeholder='New item description' class="form-control" required></textarea>
		<br>
		<input class="btn btn-primary" type='submit' value='Add'>
		<a class="btn btn-light" href="{{url_for('show_category', category_id = category.id)}}">Cancel</a>
	</form>
</div>
</body>
</html>