{% include 'main.html' %}
{% include 'nav.html' %}
<!DOCTYPE html>
<html>
<head>
	<title>Create a New Category</title>
</head>
<body>
	<div class="container">
		<h1 class="h1 text-center" style="margin-top:15px; margin-bottom:15px">Create a New Category</h1>
	<form method="post">
					<label for="name"><b>Category Name:</b></label>
					<input type ="text" maxlength="50" name="name" placeholder="Name of the category" style="margin-bottom:10px" class="form-control" required>
					<br>
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a class="btn btn-light" href = "{{ url_for('show_home') }}">Cancel</a>
			</form>
		</div>
</body>
</html>