<!DOCTYPE html>
<html>
<head>
	<title>Create a New Category</title>
</head>
<body>
	<form method="post">
				<div>
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" name="name" placeholder="Name of the category">
                    <div style="margin-top: 1rem">
                        <button type="submit">
                        	<span></span>
								Create
						</button>
                        <button>
                            <a href = "{{ url_for('show_home') }}">
                                Cancel
                            </a>
                        </button>
                    </div>
				</div>
			</form>
</body>
</html>