<!DOCTYPE html>
<html>
<head>
	<title>Item Catalog</title>
</head>
<body>
	<h1>Catalog App</h1>

    <aside>
    	<h2>Latest Items</h2>
    	{% for item in latest_items %}
    	<span>{{item.name}}</span>
    	<span>{{item.category_id}}</span>
    	{%endfor%}
    </aside>

    <main>
    	<h2>Categories</h2>
    	<ol>
    	{% for category in categories %}
    		<li>
    			<a href='/categories/{{category.id}}'>{{category.name}}</a>
    		</li>
    	{%endfor%}
    	</ol>
    </main>

    <a href="{{ url_for('create_category') }}">Add a New Category</a>
</body>
<script>
	document.getElementById("login-btn").addEventListener('click', function() {
		window.location.href = "/login";

	}, false);
</script>
</html>